@import "../mixins";

@include define-light-colors {
  .highlight .cm {
    color: #999988;
    font-style: italic;
  }
  .highlight .cp {
    color: #999999;
    font-weight: bold;
  }
  .highlight .c1 {
    color: #999988;
    font-style: italic;
  }
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .c, .highlight .cd {
    color: #999988;
    font-style: italic;
  }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd;
  }
  .highlight .ge {
    color: #000000;
    font-style: italic;
  }
  .highlight .gr {
    color: #aa0000;
  }
  .highlight .gh {
    color: #999999;
  }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd;
  }
  .highlight .go {
    color: #888888;
  }
  .highlight .gp {
    color: #555555;
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gu {
    color: #aaaaaa;
  }
  .highlight .gt {
    color: #aa0000;
  }
  .highlight .kc {
    color: #000000;
    font-weight: bold;
  }
  .highlight .kd {
    color: #000000;
    font-weight: bold;
  }
  .highlight .kn {
    color: #000000;
    font-weight: bold;
  }
  .highlight .kp {
    color: #000000;
    font-weight: bold;
  }
  .highlight .kr {
    color: #000000;
    font-weight: bold;
  }
  .highlight .kt {
    color: #445588;
    font-weight: bold;
  }
  .highlight .k, .highlight .kv {
    color: #000000;
    font-weight: bold;
  }
  .highlight .mf {
    color: #009999;
  }
  .highlight .mh {
    color: #009999;
  }
  .highlight .il {
    color: #009999;
  }
  .highlight .mi {
    color: #009999;
  }
  .highlight .mo {
    color: #009999;
  }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: #009999;
  }
  .highlight .sb {
    color: #d14;
  }
  .highlight .sc {
    color: #d14;
  }
  .highlight .sd {
    color: #d14;
  }
  .highlight .s2 {
    color: #d14;
  }
  .highlight .se {
    color: #d14;
  }
  .highlight .sh {
    color: #d14;
  }
  .highlight .si {
    color: #d14;
  }
  .highlight .sx {
    color: #d14;
  }
  .highlight .sr {
    color: #009926;
  }
  .highlight .s1 {
    color: #d14;
  }
  .highlight .ss {
    color: #990073;
  }
  .highlight .s {
    color: #d14;
  }
  .highlight .na {
    color: #008080;
  }
  .highlight .bp {
    color: #999999;
  }
  .highlight .nb {
    color: #0086B3;
  }
  .highlight .nc {
    color: #445588;
    font-weight: bold;
  }
  .highlight .no {
    color: #008080;
  }
  .highlight .nd {
    color: #3c5d5d;
    font-weight: bold;
  }
  .highlight .ni {
    color: #800080;
  }
  .highlight .ne {
    color: #990000;
    font-weight: bold;
  }
  .highlight .nf {
    color: #990000;
    font-weight: bold;
  }
  .highlight .nl {
    color: #990000;
    font-weight: bold;
  }
  .highlight .nn {
    color: #555555;
  }
  .highlight .nt {
    color: #000080;
  }
  .highlight .vc {
    color: #008080;
  }
  .highlight .vg {
    color: #008080;
  }
  .highlight .vi {
    color: #008080;
  }
  .highlight .nv {
    color: #008080;
  }
  .highlight .ow {
    color: #000000;
    font-weight: bold;
  }
  .highlight .o {
    color: #000000;
    font-weight: bold;
  }
  .highlight .w {
    color: #bbbbbb;
  }
  .highlight {
    background-color: #f8f8f8;
  }
}

@include define-dark-colors {
  .highlight .cm {
    color: rgb(162, 154, 142);
    font-style: italic;
  }
  .highlight .cp {
    color: rgb(168, 160, 149);
    font-weight: bold;
  }
  .highlight .c1 {
    color: rgb(162, 154, 142);
    font-style: italic;
  }
  .highlight .cs {
    color: rgb(168, 160, 149);
    font-weight: bold;
    font-style: italic;
  }
  .highlight .c, .highlight .cd {
    color: rgb(162, 154, 142);
    font-style: italic;
  }
  .highlight .err {
    color: rgb(233, 94, 94);
    background-color: rgb(58, 36, 36);
  }
  .highlight .gd {
    color: rgb(232, 230, 227);
    background-color: rgb(71, 0, 0);
  }
  .highlight .ge {
    color: rgb(232, 230, 227);
    font-style: italic;
  }
  .highlight .gr {
    color: rgb(255, 85, 85);
  }
  .highlight .gh {
    color: rgb(168, 160, 149);
  }
  .highlight .gi {
    color: rgb(232, 230, 227);
    background-color: rgb(18, 71, 0);
  }
  .highlight .go {
    color: rgb(157, 148, 136);
  }
  .highlight .gp {
    color: rgb(178, 172, 162);
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gu {
    color: rgb(178, 172, 162);
  }
  .highlight .gt {
    color: rgb(255, 85, 85);
  }
  .highlight .kc {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .kd {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .kn {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .kp {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .kr {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .kt {
    color: rgb(139, 166, 197);
    font-weight: bold;
  }
  .highlight .k, .highlight .kv {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .mf {
    color: rgb(97, 255, 255);
  }
  .highlight .mh {
    color: rgb(97, 255, 255);
  }
  .highlight .il {
    color: rgb(97, 255, 255);
  }
  .highlight .mi {
    color: rgb(97, 255, 255);
  }
  .highlight .mo {
    color: rgb(97, 255, 255);
  }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: rgb(97, 255, 255);
  }
  .highlight .sb {
    color: rgb(239, 53, 100);
  }
  .highlight .sc {
    color: rgb(239, 53, 100);
  }
  .highlight .sd {
    color: rgb(239, 53, 100);
  }
  .highlight .s2 {
    color: rgb(239, 53, 100);
  }
  .highlight .se {
    color: rgb(239, 53, 100);
  }
  .highlight .sh {
    color: rgb(239, 53, 100);
  }
  .highlight .si {
    color: rgb(239, 53, 100);
  }
  .highlight .sx {
    color: rgb(239, 53, 100);
  }
  .highlight .sr {
    color: rgb(97, 255, 136);
  }
  .highlight .s1 {
    color: rgb(239, 53, 100);
  }
  .highlight .ss {
    color: rgb(255, 97, 216);
  }
  .highlight .s {
    color: rgb(239, 53, 100);
  }
  .highlight .na {
    color: rgb(114, 255, 255);
  }
  .highlight .bp {
    color: rgb(168, 160, 149);
  }
  .highlight .nb {
    color: rgb(79, 211, 255);
  }
  .highlight .nc {
    color: rgb(139, 166, 197);
    font-weight: bold;
  }
  .highlight .no {
    color: rgb(114, 255, 255);
  }
  .highlight .nd {
    color: rgb(184, 178, 168);
    font-weight: bold;
  }
  .highlight .ni {
    color: rgb(255, 114, 255);
  }
  .highlight .ne {
    color: rgb(255, 97, 97);
    font-weight: bold;
  }
  .highlight .nf {
    color: rgb(255, 97, 97);
    font-weight: bold;
  }
  .highlight .nl {
    color: rgb(255, 97, 97);
    font-weight: bold;
  }
  .highlight .nn {
    color: rgb(178, 172, 162);
  }
  .highlight .nt {
    color: rgb(127, 174, 255);
  }
  .highlight .vc {
    color: rgb(114, 255, 255);
  }
  .highlight .vg {
    color: rgb(114, 255, 255);
  }
  .highlight .vi {
    color: rgb(114, 255, 255);
  }
  .highlight .nv {
    color: rgb(114, 255, 255);
  }
  .highlight .ow {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .o {
    color: rgb(232, 230, 227);
    font-weight: bold;
  }
  .highlight .w {
    color: rgb(189, 183, 175);
  }
  .highlight {
    // avoid white corners on dark mode
    background-color: inherit;
  }
}
